extends layout.pug

block content
  include ./partials/inAppNav.pug
  h1.mt-2 Favorites
  table.table
    thead
      tr
        th(scope='col') Name
        th(scope='col') Symbol
        th(scope='col') LastPrice
        th(scope='col') Change
        th(scope='col') High
        th(scope='col') Low
        th(scope='col') Open
        th(scope='col')
    tbody
      each company in stocks
        tr
          td= company.Name
          td= company.Symbol
          td= company.LastPrice
          td= company.Change
          td= company.High
          td= company.Low
          td= company.Open
          td 
            form(method='POST' action='./favorites/'+company.Symbol+"?_method=DELETE")
              button.btn.btn-default.btn-md.bg-danger.text-white.font-weight-bold(type='submit')
                | Delete