extends layout.pug

block content
  h1.mt-5 Favorites
  nav(style='padding:10px 0')
    a.btn.btn-primary.mb-3(href='./api/search' style='margin-left: 0; margin-bottom:15px') Search
    a.btn.btn-primary.ml-5.mb-3(href='./api/history') History
    a.btn.btn-primary.ml-5.mb-3(href='./api/news/market') News
    a.btn.btn-primary.ml-5.mb-3(href='./api/charts') Interactive Chart
  table.table
    thead
      tr
        th(scope='col') Name
        th(scope='col') Symbol
        th(scope='col') LastPrice
        th(scope='col') Change
        th(scope='col') High
        th(scope='col') Low
        th(scope='col') Open
    tbody
      each company in stocks
        tr
          td= company.Name
          td= company.Symbol
          td= company.LastPrice
          td= company.Change
          td= company.High
          td= company.Low
          td= company.Open
