extends layout.pug

block content
  include ./partials/inAppNav.pug
  h1.mt-2= "Market Performers"
  h2.mt-2= title
  section
    h3.mt-5= "View: "
      a.btn.btn-primary.mr-4.mb-3.btn-sm(href='/api/markets/gainers') Gainers
      a.btn.btn-primary.mr-4.mb-3.btn-sm(href='/api/markets/losers') Losers
      a.btn.btn-primary.mr-4.mb-3.btn-sm(href='/api/markets/infocus') In Focus

  -var n=1;
  section.table-responsive
    table.table.table-sm
        caption.d-xl-none Scroll right to see all columns -&#62;
        thead.thead-light
          tr
            th(scope='col') #
            th(scope='col') Symbol
            th(scope='col') Company
            th(scope='col') Open
            th(scope='col') Close
            th(scope='col') High
            th(scope='col') Low
            th(scope='col') Change
            th(scope='col') Market Cap
            th(scope='col' style='white-space:nowrap') 52-week High
            th(scope='col' style='white-space:nowrap') 52-week Low
            th(scope='col') YTD Change
        tbody
          each company in marketCompany
            tr
              th(scope="row")= n++
              td(scope="row")= company.symbol
              td(scope="row")= company.companyName
              td(scope="row")= company.open
              td(scope="row")= company.close
              td(scope="row")= company.high
              td(scope="row")= company.low
              td(scope="row")= company.change
              td(scope="row")= company.marketCap
              td(scope="row")= company.week52High
              td(scope="row")= company.week52Low
              td(scope="row")= company.ytdChange
