extends layout.pug

block content
  include ./partials/inAppNav.pug
  h1.mt-2 Market News
  section.mt-4#byCompany
    h4 Search for news by company
    form.form-inline#search(method="POST" action="/api/news/company", name="search")
      .form-group
        input#name.form-control(type="text", placeholder='aapl, abc', name='id')
        button.btn.btn-default.ml-3.font-weight-bold(type='submit') View
  tbody
    each articles in Article
      ul(style='list-style:none; padding-left:0;')
        li.text-muted.mt-5.small= articles.datetime
        li(style='font-size:28px; font-weight:600')= articles.headline
        li.text-muted.small(style='float:left; margin-right:10px')= articles.source
        li.text-muted.small(style='float:left; margin-right:10px') •
        a.li.text-muted.small(href='articles.url' style='text-decoration:underline; clear:left; white-space:nowrap;')= articles.url
        li(style='clear:left;')= articles.summary
