extends layout.pug

block content
  include ./partials/inAppNav.pug
  h1.mt-2 Market News
  section.mt-4#byCompany
    h4 Search for news by company
      form#search(method="POST" action="/api/news/company", name="search")
        .form-group.row
          input#name.form-control.col-9.ml-2(type="text", placeholder='aapl, abc', name='id')
          button.btn.btn-primary.ml-3.col-2(type='submit') Search
  each articles in Article
    ul(style='list-style:none;').d-flex.flex-column
      li.d-block.mt-5.small= articles.datetime
      li.d-block(style='font-size:22px; font-weight:600')= articles.headline
      li.d-block.text-muted.small.my-3(style='margin-right:10px, font-weight:600')= articles.source
      li.d-block= articles.summary
      li.d-block.mt-3 View more here: 
        a.small(href=articles.url style='text-decoration:underline; word-wrap: break-word;')= articles.url
